
{% extends 'DemoCartBundle:Default:base.html.twig' %}

{% block body %}

<ul>
    <a href="{{ path('demo_cart_cart_view') }}">
        <li>Cart</li>
    </a>
    <a href="{{ path('demo_cart_list_list') }}">
        <li>Show all wish lists</li>
    </a>
    <a href="{{ path('demo_cart_list_create') }}">
        <li>Create wish list</li>
    </a>
    <a href="{{ path('demo_cart_product_list') }}">
        <li>Show all products</li>
    </a>
    <a href="{{ path('demo_cart_product_create', {'type': 'shopping-item'}) }}">
        <li>Create new normal product</li>
    </a>
    <a href="{{ path('demo_cart_product_create', {'type': 'sale-item'}) }}">
        <li>Create new sale product</li>
    </a>
</ul>

    <h4>
        Note:<br><br>
        Please note that this is a testing interface and many functions provided here will have different workflow (on interface or user interaction level)
        in a real application.<br>
        e.g. creating product will not be two links, it will be one with the option to choose the type to create<br><br>
        The interfaces are dummy and not well organised (form rendering for example).<br><br>
        This demo assumes the user cart is the cart with id = 1, at its first run it will detect the cart and create the first one if not created yet.
        <br><br>
        For any unexpected behavior, please contact me to clarify.
        <br><br>
        Thank you<br>
        Omar Afifi
    </h4>


{% endblock %}